# 데이터를 Series로 저장해보기

In [3]:
import pandas as pd

kakao=pd.Series([92600,92400,92100,94300,92300])
print(kakao)

0    92600
1    92400
2    92100
3    94300
4    92300
dtype: int64

In [6]:
kakao2=pd.Series([92600,92400,92100,94300,92300],index=['2017-03-03','2017-03-06','2017-03-07','2017-03-08','2017-03-09'])
print(kakao2)

2017-03-03    92600
2017-03-06    92400
2017-03-07    92100
2017-03-08    94300
2017-03-09    92300
dtype: int64

In [7]:
print(kakao2['2017-03-09'])

92300

In [10]:
my_ind=pd.date_range("20191203",periods=6) # 2019년 12월 3일부터 시작해서 6일동안 즉 8일까지
my_ind

DatetimeIndex(['2019-12-03', '2019-12-04', '2019-12-05', '2019-12-06',
               '2019-12-07', '2019-12-08'],
              dtype='datetime64[ns]', freq='D')

In [11]:
kakao2=pd.Series([92600,93400,94500,93800,94000,93500],index=my_ind)
kakao2

2019-12-03    92600
2019-12-04    93400
2019-12-05    94500
2019-12-06    93800
2019-12-07    94000
2019-12-08    93500
Freq: D, dtype: int64

In [12]:
kakao=pd.Series([92600,93400,94500,93800,94000,93500],index=pd.date_range('20170303',periods=6))
kakao

2017-03-03    92600
2017-03-04    93400
2017-03-05    94500
2017-03-06    93800
2017-03-07    94000
2017-03-08    93500
Freq: D, dtype: int64

In [15]:
print(kakao.index)
print(kakao.values)

DatetimeIndex(['2017-03-03', '2017-03-04', '2017-03-05', '2017-03-06',
               '2017-03-07', '2017-03-08'],
              dtype='datetime64[ns]', freq='D')
[92600 93400 94500 93800 94000 93500]

# Series 객체의 덧셈 연산

In [17]:
mine=pd.Series([10,20,30],index=['naver','sk','kt'])
friend=pd.Series([10,30,20],index=['kt','naver','sk'])
merge=mine+friend
print(merge)

kt       40
naver    40
sk       40
dtype: int64

# Pandas.Series

In [20]:
import numpy as np
import pandas as pd

obj=pd.Series([3,6,9,12])
print(obj)
print(type(obj))
print(len(obj))

0     3
1     6
2     9
3    12
dtype: int64
<class 'pandas.core.series.Series'>
4

In [21]:
obj=pd.Series([3,6,9,12],index=['a','b','c','d'])
obj

a     3
b     6
c     9
d    12
dtype: int64

In [23]:
emp={'김철수':5000,"김철호":7000,"한상민":4000,'문대용':4500}
obj=pd.Series(emp)
print(obj)

김철수    5000
김철호    7000
한상민    4000
문대용    4500
dtype: int64

In [24]:
import pandas as pd
my_se=pd.Series([10,20,30])
my_se

0    10
1    20
2    30
dtype: int64

In [25]:
my_se[2]

30

In [26]:
my_se1=pd.Series([10,20,30],index=['Samsung','Naver','LG'])
my_se1

Samsung    10
Naver      20
LG         30
dtype: int64

In [27]:
my_se1['LG']

30

In [28]:
len(my_se1)

3

In [29]:
my_se1.min()

10

In [30]:
my_se1.max()

30

In [32]:
my_se1.sort_values()

Samsung    10
Naver      20
LG         30
dtype: int64

In [33]:
my_se1.sort_index()

LG         30
Naver      20
Samsung    10
dtype: int64

In [34]:
my_se.sort_values(ascending=False)

2    30
1    20
0    10
dtype: int64

In [35]:
my_se.sort_index()

0    10
1    20
2    30
dtype: int64

# where

In [37]:
my_se1.where(my_se1>15)

Samsung     NaN
Naver      20.0
LG         30.0
dtype: float64

In [38]:
my_se1.where(my_se1>15).dropna()

Naver    20.0
LG       30.0
dtype: float64

In [39]:
my_se1.where(my_se1 == my_se1.max()).dropna()

LG    30.0
dtype: float64

In [40]:
my_se1.sort_values(ascending=False).head(1)

LG    30
dtype: int64

In [41]:
# pandas.Series

In [42]:
buy_stock=pd.Series([20,20,30],index=['Samsung','Naver','Kakao'])
buy_stock

Samsung    20
Naver      20
Kakao      30
dtype: int64

In [43]:
my_se1+buy_stock

Kakao       NaN
LG          NaN
Naver      40.0
Samsung    30.0
dtype: float64

In [44]:
my_se1.add(buy_stock)

Kakao       NaN
LG          NaN
Naver      40.0
Samsung    30.0
dtype: float64