# import time

In [3]:
import time
time.time() #1970년 1월 1일 자정을 시작으로 지금까지의 초를 가르쳐줌.

1651666196.6447613

In [4]:
time.sleep(10) #현재 프로세스를 주어진 초만큼 정지

In [8]:
time.gmtime() #(아무것도 안치면) 현재 시간을 가르쳐줌

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=4, tm_hour=12, tm_min=11, tm_sec=18, tm_wday=2, tm_yday=124, tm_isdst=0)

In [9]:
time.localtime() #(아무것도 안치면) 현재시간을 가르쳐줌

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=4, tm_hour=21, tm_min=11, tm_sec=33, tm_wday=2, tm_yday=124, tm_isdst=0)

In [13]:
time.asctime() #(아무것도 안치면 )월 일 시간을 할당시켜줌

'Wed May  4 21:12:21 2022'

# 예시

In [23]:
t1=time.time()
t2=time.gmtime(t1) #할당받은 초를 1970년대 기준으로 가르쳐줌. 
print(t2)

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=4, tm_hour=12, tm_min=14, tm_sec=46, tm_wday=2, tm_yday=124, tm_isdst=0)

In [25]:
time.localtime()

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=4, tm_hour=21, tm_min=15, tm_sec=28, tm_wday=2, tm_yday=124, tm_isdst=0)

In [26]:
time.asctime(t2)

'Wed May  4 12:14:46 2022'

In [27]:
time.mktime(t2)

1651634086.0

# import datetime

In [73]:
import datetime
now = datetime.datetime.now()
print(now)

2022-05-04 22:20:31.633652

In [40]:
print(now.strftime("%Y:%m:%d %H:%M:%S %a")) #strftime 
st1=str(now)
print(st1)
st2=datetime.datetime.strptime(st1, "%Y-%m-%d %H:%M:%S.%f") #strptime 
print(st2)
st2

2022:05:04 21:16:51 Wed
2022-05-04 21:16:51.588995
2022-05-04 21:16:51.588995

datetime.datetime(2022, 5, 4, 21, 16, 51, 588995)

In [45]:
t1=time.gmtime()
print(t1)
print()
print(time.strftime("%Y:%B:%d %H:%M:%S %A",t1)) #년 월 일 시 분 초 요일

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=4, tm_hour=12, tm_min=26, tm_sec=17, tm_wday=2, tm_yday=124, tm_isdst=0)

2022:May:04 12:26:17 Wednesday

In [48]:
t3=time.localtime()
print(t3)
print()
print(time.strftime("%Y:%B:%d %H:%M:%S %a",t3)) #대문자는 다 보여주는데 소문자는 좀 줄여서 보여줌

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=4, tm_hour=21, tm_min=27, tm_sec=39, tm_wday=2, tm_yday=124, tm_isdst=0)

2022:May:04 21:27:39 Wed

In [51]:
time.strftime("%B %dth %A %I:%M",time.localtime())

'May 04th Wednesday 09:58'

In [52]:
time.strftime("%Y-%m-%d %A %I:%M",time.localtime())

'2022-05-04 Wednesday 09:58'

In [55]:
time.strftime("%y-%m-%d %A %I:%M",time.localtime())

'22-05-04 Wednesday 10:02'

In [56]:
time.strftime("%x %X",time.localtime())

'05/04/22 22:02:50'

In [58]:
datetime.date.fromordinal(126) #1년 1월 1일부터 시작해서 126일 이후의 날짜를 골라서 해봐라

datetime.date(1, 5, 6)

# 현재시간 구해보기

In [62]:
import time as tm
print("년도:", tm.strftime("%Y",tm.localtime()))
print("월:", tm.strftime("%m",tm.localtime()))
print("일:", tm.strftime("%d",tm.localtime()))
print("요일:", tm.strftime("%A",tm.localtime()))

년도: 2022
월: 05
일: 04
요일: Wednesday

In [64]:
tm.strftime("%Y/%m/%d",tm.localtime())

'2022/05/04'

# 3초 sleep 하는 예제

In [65]:
import time

input("Enter a number:")
t1=time.time()

time.sleep(3)
input("Enter a number again:")

t2=time.time()
time_gap=t2-t1
print("Time gap :",time_gap)

Enter a number:1
Enter a number again:1
Time gap : 4.035813808441162

# strptime

In [66]:
import time
tstr=time.ctime(time.time())
print(tstr)

Wed May  4 22:15:29 2022

In [67]:
time.strptime(tstr)

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=4, tm_hour=22, tm_min=15, tm_sec=29, tm_wday=2, tm_yday=124, tm_isdst=-1)

In [70]:
time.strptime(tstr, "%a %b %d %H:%M:%S %Y")

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=4, tm_hour=22, tm_min=15, tm_sec=29, tm_wday=2, tm_yday=124, tm_isdst=-1)

In [71]:
tstr2=time.strftime("%B %dth %A %H : %M : %S", time.localtime())
print(tstr2)

May 04th Wednesday 22 : 17 : 11

In [74]:
import datetime as dt
import time as tm
dt.date(2018,4,30)

datetime.date(2018, 4, 30)

In [77]:
dt.date.fromtimestamp(tm.time())

datetime.date(2022, 5, 4)

In [78]:
dt.date.today()

datetime.date(2022, 5, 4)